.splitDiv {
    height: 450px;
}
.split {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
}

.split:nth-of-type(2) {
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}